---
pagination:
  data: sketches
  size: 1
  alias: sketch
  addAllPagesToCollections: true
permalink: "sketches/{{ sketch.category }}/{{ sketch.name | slugify }}/index.html"
category: "{{ sketch.category }}"
title: Sketch
layout: layout.liquid
---

<script src="{{ sketch.source }}" type="module"></script>

<header class="sketch_header">
  <a href="~/e11ty_dist/index.html">Home</a>
</header>

<main id="sketch_root" class="sketch_main">
</main>
